.social i{
	color:black;
}
.social i:hover{
	color:lightblue;
}
#home{
	width: 96%
}
#home .name{
	font-size:27px;
	font-weight: bold;
	padding:20px;
	margin:10px;
}
#home .alt-name{
	font-size:20px;
	padding-left:25px;
	border-bottom:1px solid black;
}
#home .alt-name i{
	margin:10px;
}
#home .title{
	background-color: #eee;
	height: 50px;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size:22px;
	padding-left:20px;
	font-weight: bold
}
#home ul{
	list-style: none;
}
#home ul li{
	width: 100%;
	background-color: #fff;
	font-size:16px;
	height: 60px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#home ul li:hover{
	background-color: #eee
}
@media (max-width: 900px){
	#home .alt-name{
		font-size:15px;
	}
	#home .alt-name i{
		width: 50%
	}
}